/*임시 파일 입니다*/

/*드롭존 스타일 설정*/
    /*드롭존 컨테이너 */
    .drop-zone-container {
    display: flex; /* 컨테이너 나란히 배치하기 위해서 flex사용 */
    justify-content: space-between; /* 사이 공간을 균등하게 사용 */
    gap: 20px; /* 드롭존 사이에 간격 추가 */
    margin-bottom: 20px; /* 드롭존 아래 여백 추가 */
    }

    /*드롭존 */
    .drop-zone {
    border: 2px dashed #007bff; /*테두리 설정, 두께, 스타일, 색상*/
    padding: 10px; /*내부 여백*/
    text-align: center;
    height: 150px;
    width: 48%; /* Adjust width */
    background-color: #f8f9fa; /*배경 연한 회색*/
    border-radius: 0.25rem; /*모서리 둥글게 정도*/
    position: relative; /* 자식 요소의 절대 위치 설정을 위한 상대 위치 지정 */
    overflow: hidden; /* 자식 요소가 부모 요소의 경계를 넘지 않도록 설정 */
}
    /*드롭존 호버 일때*/
    .drop-zone.hover {
    background-color: #e9ecef;
}
    /*드롭존 텍스트*/
    .drop-zone .drop-text {
    text-align: center;
    z-index: 10;
    color: black;
}
    /*드롭존에 보여줄 이미지 설정*/
    .drop-zone img {
    max-width: 100%;
    max-height: 100%;
    display: none; /* Default to hidden */
}

    /* 드롭존에 input 파일 영역 */
    .file-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    }

/* 모달 스타일 */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;

    }

    .modal-content {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 600px; /* Increase width to accommodate side-by-side layout */
    position: relative;
    box-sizing: border-box;
    color: white; /* Set text color to white */
    }

    .confirm-btn {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    margin: 20px auto 0; /* Center the button and add margin */
    }


    /* 비활성화된 버튼 스타일 */
    .btn[disabled] {
        background-color: #ccc;
        cursor: not-allowed;
    }


/* 이미지 미리 보기 스타일 설정 */
    .image-preview-row {
    display: flex;
    align-items: center;
    gap: 20px; /* 이미지와 텍스트 간의 간격 */
    }

    .image-preview-container {
    text-align: center;
    }

    .image-preview {
    max-width: 150px; /* 이미지 크기 조정 */
    max-height: 150px;
    margin-bottom: 10px; /* 이미지와 텍스트 간의 간격 */
    }